<!--Main container-->
<div class="container-fluid px-4">
  <!--Row container-->
  <div class="row gx-2">
    <!--Column container-->
    <div class="col-sm-4 mt-3">
      <div class="border bg-light inner-container">
        <app-addtask></app-addtask
        ><!--Tasking adding will appear here-->
      </div>
    </div>
    <!--Column container-->
    <div class="col-sm-8 mt-3">
      <div class="border bg-light inner-container addTaskList">
        <app-tasklist></app-tasklist
        ><!--Task list will appear here-->
      </div>
    </div>
  </div>
</div>
