.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("src\assets\images\bg-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.form-label {
  font-weight: 500;
}

.btn {
  width: 350px;
}
