button {
  margin-right: 15px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item {
  list-style-type: none;
  /*margin-right: 100px;*/
}

.nav-item .dropdown-menu{
  left: -35%;
}

span {
  margin-right: 10px;
}

.profilepic {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #111;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: 0.5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__icon {
  color: white;
  padding-bottom: 8px;
}

.fas {
  font-size: 20px;
}

.profilepic__text {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0;
  text-align: center;
  color: #fff;
}

.modal-body {
  font-weight: bolder;
}
